:root.theme-light {
  --question-color: var(--pink);
  --text-color: var(--grey);
  --title-text-color: var(--light-beige);
  --background-text-color: var(--pink);
  --shadow-color: var(--pink);
  --title-color: var(--light-pink);
  --background-image: url(../images/cover-image-light.png);
  --background-color: var(--light-beige);
  --button-color: var(--grey);
}

@media (prefers-color-scheme: light) {
  :root {
    --question-color: var(--pink);
    --text-color: var(--grey);
    --title-text-color: var(--light-beige);
    --background-text-color: var(--pink);
    --shadow-color: var(--pink);
    --title-color: var(--light-pink);
    --background-image: url(../images/cover-image-light.png);
    --background-color: var(--light-beige);
    --button-color: var(--grey);
  }

  .theme-auto .header__rec {
    visibility: hidden;
  }
}

.theme-light .header__rec {
  visibility: hidden;
}
